#about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.about__text {
    margin: 48px 0;
}

.about__paragraph {
    max-width: 540px;
    line-height: 1.6rem;
}

.skills-list-container {
    margin: 0;
}

.skills-flex-container {
    display: flex;
}

.topics {
    text-align: right;
    /* width: 300px; */
    margin-right: 20px;
}

.skills-list-container p {
    margin: 0 0 16px 0;
}

.technology-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.technology-icon {
    width: 40px;
    height: 40px;
    transition: 200ms;
}

.technology-icon:hover {
    transform: scale(1.2);
}