#about {
    position: relative;
}

.skills-list-container {
    margin: 64px 0;
}

.skills-flex-container {
    display: flex;
    /* justify-content: center; */
    /* border: solid grey 1px;
    border-radius: 5px;
    padding: 20px; */
}

.topics {
    text-align: right;
    /* width: 300px; */
    margin-right: 20px;
}

.skills-list-container p {
    margin: 0 0 16px 0;
}

.technology-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 0;

    margin-bottom: 32px;
}

.technology-icon {
    width: 40px;
    height: 40px;
    transition: 200ms;
}

.technology-icon:hover {
    transform: scale(1.2);
}