@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: $background-grey;
    color: $text-grey;

}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
        "header main";
}

.main-wrapper {
    grid-area: main;
}

main {
    width: 70%;
    margin: 0 48px;
}

.section-container {
    min-height: 100vh;
    padding: 20px;
}

.section-title {
    font-size: 4rem;
    color: $highlight-colour;
    margin: 0;
}