.header-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;

    height: 100vh;
}

header {
    height: 100%;
    width: 100%;
   
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);

    margin: 0;
    padding: 16px 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.logo {
    display: inline-block;
    cursor: pointer;
}

.nav__link-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;

    font-size: 1rem;
    line-height: 1.5;
    outline: none;

    color: inherit;

    // &:hover:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     right: 0;

    //     border: black solid;
    //     border-width: 0 2px 0 0;
    // }
}

.social-link {
    display: block;

    margin: 16px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-open {
    display: block;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .header-wrapper {
        height: $header-height;
        width: 100vw;

    }

    header {
        flex-direction: row;
        position: relative;

        background: white;
        border-width: 0 0 3px 0;


        z-index: 9999;
    }

    nav {
        display: none;
        position: absolute;
        top: $header-height;
        left: 0;

        width: 100vw;

        background: white;
    }

    .social-icons {
        display: none;
    }

    .hamburger {
        display: block;
    }
}