#home {
    display: flex;
    // justify-content: center;
    align-items: center;
    background: $highlight-colour;
    // background-color: $highlight-colour;
    // background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    //     linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    //     linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    //     linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    //     linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    //     linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    // background-size:80px 140px;
    // background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.home-wrapper {
    height: 100%;
    color: white;
}

.greeting {
    font-size: 8rem;
    margin: 0;
}

.tagline {
    font-size: 1.3rem;
}

.about-arrow {
    width: 150px;  
    position: absolute;
    bottom: 0;
    cursor: pointer;

    margin: 16px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 16px;

        display: block; 
    }

    p {
        margin: 0;
    }
}

