#projects {
    //background: $highlight-colour;
     background: $background-gradient;
    color: white;
}

.projects__title {
    // margin: 16px 0;
    color: white;
}

.project-container {
    margin: 32px 0 0 0;
    max-width: 90%;
    display: inline-block;
}

.project__card-wrapper {
    background: $background-grey;
    color: black;
    border-radius: 5px;

    padding: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.project__info-wrapper {
    display: flex;
    padding: 0 0 16px 0;
}

.project__image-container {
    height: 100%;
}

.project__image {
    width: 250px;
    border-radius: 5px;

    display: block;
}

.project__info {
    flex-grow: 1;
}

.project__title {
    margin: 16px 0;
    letter-spacing: 1px;
}

.project__description {
    margin: 0;
    padding: 0 0 0 32px;
    max-width: 540px;

    font-size: 0.9rem;
    line-height: 1.5rem;
    list-style: disc;
}

.project__footer {
    border-top: 1px solid lighten($highlight-colour, 10%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 0 0 0;
}

.project__technology-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
}

.project__tech-icon {
    margin: 0 32px;
    width: 32px;
}

.project__links {
    // text-align: right;
    width: 33%;
    display: flex;
    justify-content: space-evenly;

    border-left: 1px solid $highlight-colour;
}

.project__link {
    color: $highlight-colour;
    margin: 0 0 0 0.5rem;
    text-decoration: none;
}

.project__link:visited {
    color: $highlight-colour;
}

@media only screen and (max-width: $projects-breakpoint) {
    .project__info-wrapper {
        display: block;
    }
    .project__footer {
        display: block;
        height: 100%;
    }
}