@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
}

.grid-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header main";
}

.main-wrapper {
  grid-area: main;
}

.section-container {
  height: 100%;
  min-height: 100vh;
  padding: 20px 48px;
}

.section-title {
  font-size: 4rem;
  color: teal;
  margin: 0;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main";
  }
}
.header-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

header {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  border: solid teal;
  border-width: 0 3px 0 0;
  margin: 0;
  padding: 16px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline;
  cursor: pointer;
}

.nav__link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  margin: 16px 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.social-link {
  display: block;
  margin: 16px;
}

#home {
  display: flex;
  align-items: center;
  background: teal;
}

.home-wrapper {
  height: 100%;
  color: white;
}

.greeting {
  font-size: 8rem;
  margin: 0;
}

.tagline {
  font-size: 1.3rem;
}

.about-arrow {
  width: 150px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-arrow img {
  width: 16px;
  display: block;
}
.about-arrow p {
  margin: 0;
}

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  margin: 48px 0;
}

.about__paragraph {
  max-width: 540px;
  line-height: 1.6rem;
}

.skills-list-container {
  margin: 0;
}

.skills-flex-container {
  display: flex;
}

.topics {
  text-align: right;
  /* width: 300px; */
  margin-right: 20px;
}

.skills-list-container p {
  margin: 0 0 16px 0;
}

.technology-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.technology-icon {
  width: 40px;
  height: 40px;
  transition: 200ms;
}

.technology-icon:hover {
  transform: scale(1.2);
}

#projects {
  background: teal;
  color: white;
}

.projects__title {
  color: white;
}

.project-container {
  margin: 32px 0 0 0;
  max-width: 90%;
  display: inline-block;
}

.project__card-wrapper {
  background: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.project__info-wrapper {
  display: flex;
  padding: 0 0 8px 0;
}

.project__image-container {
  height: 100%;
}

.project__image {
  width: 250px;
  border-radius: 5px;
  display: block;
}

.project__info {
  flex-grow: 1;
}

.project__title {
  margin: 16px 0;
}

.project__description {
  margin: 0;
  padding: 0 0 0 16px;
  max-width: 540px;
  line-height: 1.5rem;
}

.project__footer {
  border-top: 1px solid #00b3b3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 0 0;
}

.project__technology-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.project__links {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
}

.project__link {
  color: teal;
  margin: 0 0 0 0.5rem;
  text-decoration: none;
}

.project__link:visited {
  color: teal;
}

#contact {
  height: 50vh;
  padding: 20px 48px;
}

.contact__content-container {
  margin: 64px 0;
}

/*# sourceMappingURL=main.css.map */
